nav{
li{
list-style-type: none;
background: gray;
width: 270px;
height: 30px;
text-align: center;
margin-top: 0px;
display: inline-block;
float: left;
padding: 35px;
}

a{
font-size: 15px;
color: white;
text-decoration: none;
line-height: 30px;
}

li:hover a{
text-decoration: underline;
}
}

a
{
text-decoration: none;
color: black;
}

li{
	margin-left: 0px;
}

body{
	font-family: Poppins;
	height: 12000px;
}