nav{
position: fixed;
padding: -10px;
margin-left: -99px;
margin-top: -24px;
background: gray;
width: 110%;

li{
list-style-type: none;
background: gray;
height: 30px;
width: 270px;
text-align: right;
margin-top: 0px;
display: inline-block;
float: left;
padding: 35px;
}

a{
font-size: 25px;
color: white;
text-decoration: none;
line-height: 30px;
}

li:hover a{
text-decoration: underline;
}
}

a
{
text-decoration: none;
color: black;
}

li{
	margin-left: 0px;
}

body{
	font-family: Poppins;
	height: 12000px;
	
}
body{
background-image: url();
background-size: cover;
background-attachment: fixed;
padding-left: 50px;
}



